{% extends "ai/base.html" %}
{% load static %}
<!DOCTYPE html>

{% block prediction-form %}
    <form class="prediction-form" action="{% url 'ai:lung_cancer' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="prediction-result" >
            <h2>Prediction Result:{{ result }}</h2>
            <p id="prediction-text"></p>
        </div>
    <button type="submit" id="predict-button">Predict</button>
    <a href="{% url 'index' %}" class="btn btn-primary">Go to Main Page</a>
    </form>
{% endblock %}

